# Environment variables & secrets
.env
.env.local
*.env

# Python artifacts
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.egg-info/
build/
backend/uploads/*
!backend/uploads/.gitkeep
backend/data_storage/database.json

# Node & Frontend artifacts
node_modules/
.vite/

# Keep backend pre-built dist for 1-click cloud deployments
!backend/dist/**

# OS and IDE files
.DS_Store
Thumbs.db
.vscode/
.idea/
